
<!doctype html>

<head>
    <style>
    /* CSS comes here */
    #video {
        border: 1px solid black;
        width: 320px;
        height: 240px;
    }

    #photo {
        border: 1px solid black;
        width: 320px;
        height: 240px;
    }

    #canvas {
        display: none;
    }.row{
        display: flex       
    }
    
    .camera {
        width: 340px;
        display: inline-block;
    }

    .output {
        width: 340px;
        display: inline-block;
    }

    #startbutton {
        display: block;
        position: relative;
        margin-left: auto;
        margin-right: auto;
        bottom: 36px;
        padding: 5px;
        background-color: #6a67ce;
        border: 1px solid rgba(255, 255, 255, 0.7);
        font-size: 14px;
        color: rgba(255, 255, 255, 1.0);
        cursor: pointer;
    }

    /* <script language="JavaScript" src="functions.js"></script> */

    .contentarea {
        font-size: 16px;
        font-family: Arial;
        text-align: center;
    }
    </style>
    <title>My Favorite SPORT</title>
</head>

<body>

    <p id="rects">Bonjour</p>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    
    <div class="contentarea">
        var nameId = {{ nameId }}
        var usedUrl = {{ usedUrl }}
        <!-- var uri_result = {{ uri_result }} -->
        <h1>
            Coming from {{ usedUrl }}
            Hello {{ nameId }}. Lets start capturing.
        </h1>
        
        <input value="{{ nameId }}" type="text" hidden="hidden" id="nameId" />
        <input value="{{ usedUrl }}" type="text" hidden="hidden" id="usedUrl" />
        <video id="video">Video stream not available.</video>
        </div>
        <div><button id="startbutton">Take Photo</button></div>
        <!-- <canvas id="canvas"></canvas> -->
        <div style="width:30%;" class="row">
            <div class="my-4 col"><canvas id="canvas"></canvas></div>
            <div class="my-4 col"><canvas id="canvas2"></canvas></div>
        </div>

        <div class="output">
            <img id="photo" alt="The screen capture will appear in this box.">
        </div>

        <img src="orange.png" alt="Result" id="result_image">

        <!-- <div class="output2">
            <img src="{{ uri_result }}" alt="The screen capture will appear in this box TOO.">
        </div> -->
    </div>

    <script>
    /* JS comes here */

    //window.$ = window.jQuery = require('./js/libs/jquery-2.2.0.min.js');

    (function() {

        var width = 320; // We will scale the photo width to this
        var height = 0; // This will be computed based on the input stream

        var streaming = false;

        var video = null;
        var canvas = null;
        var canvas2 = null;
        var photo = null;
        var startbutton = null;

        function startup() {
            video = document.getElementById('video');
            canvas = document.getElementById('canvas');
            canvas2 = document.getElementById('canvas2');
            photo = document.getElementById('photo');
            startbutton = document.getElementById('startbutton');

            navigator.mediaDevices.getUserMedia({
                    video: true,
                    audio: false
                })
                .then(function(stream) {
                    video.srcObject = stream;
                    video.play();
                })
                .catch(function(err) {
                    console.log("An error occurred: " + err);
                });

            video.addEventListener('canplay', function(ev) {
                if (!streaming) {
                    height = video.videoHeight / (video.videoWidth / width);

                    if (isNaN(height)) {
                        height = width / (4 / 3);
                    }

                    video.setAttribute('width', width);
                    video.setAttribute('height', height);
                    canvas.setAttribute('width', width);
                    canvas.setAttribute('height', height);
                    canvas2.setAttribute('width', width);
                    canvas2.setAttribute('height', height);
                    streaming = true;
                }
            }, false);

            startbutton.addEventListener('click', function(ev) {
                takepicture();
                ev.preventDefault();
            }, false);

            clearphoto();

            // startbutton.addEventListener('click', function(ev) {
            //     getpicture();
            //     ev.preventDefault();
            // }, false);

            // startbutton.addEventListener('click', function(ev) {
            //     update_values();
            //     ev.preventDefault();
            // }, false);

            clearphoto();
        }

        function clearphoto() {
            var context = canvas.getContext('2d');
            context.fillStyle = "#AAA";
            context.fillRect(0, 0, canvas.width, canvas.height);

            var data = canvas.toDataURL('image/png');
            photo.setAttribute('src', data);
        }

        // $ sign is not defined
        // => This is because the dollar sign ($) is for jQuery library usage.

        function update_values() {
            $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
            $.getJSON($SCRIPT_ROOT+"/update_values",
                function(data) {
                    $("#cpuload").text(data.cpu+" %")
                    $("#ram").text(data.ram+" %")
                    $("#disk").text(data.disk+" %")
                });
            console.log(" ... <= update_values " + $SCRIPT_ROOT)
            setTimeout(update_values, 5000);
        }

        // # v1 ecovision
        // works but now replaced in return of what take picture sends to server
        /*function getpicture() {
            var context = canvas2.getContext('2d');
            if (width && height) {
                canvas2.width = width;
                canvas2.height = height;

                var xhr2 = new XMLHttpRequest();
                var urlHost2 = window.location.host
                var urlProtocol2 = window.location.protocol
                var urlRoot2 = urlProtocol2 + "//" + urlHost2
                // console.log(" ... ... urlRoot2:" + urlRoot2)
                var nameId = document.getElementById("nameId").value
                const url2 = urlRoot2 + "/result_image2/" + nameId;
                //console.log(" ... ... url2:" + url2)
                xhr2.open("GET", url2, true);
                //var data2 = null;
                var img = null;
                xhr2.onload = function () {
                    if (xhr2.readyState === xhr2.DONE) {
                        if (xhr2.status === 200) {
                            // *** OK: this works for an image *** : sample or todel image are returned and displayed correctly
                            document.getElementById('result_image').innerHTML = '<img src="data:image/png;base64,' + xhr2.response + '"/>';
                        }
                    }
                };
                xhr2.send(null);
                setTimeout(getpicture, 2000);
            } else {
                clearphoto();
            }
        }*/

        function takepicture() {
            var context = canvas.getContext('2d');
            if (width && height) {
                canvas.width = width;
                canvas.height = height;
                context.drawImage(video, 0, 0, width, height);

                var data = canvas.toDataURL('image/png');
                photo.setAttribute('src', data);

                
                var xhr = new XMLHttpRequest();

                // ok but the posrt disappears
                // var urlRoot = document.getElementById("usedUrl").value

                var urlHost = window.location.host
                var urlProtocol = window.location.protocol
                var urlRoot = urlProtocol + "//" + urlHost
                console.log(" ... urlRoot:" + urlRoot)

                const url = urlRoot + "/image";
                //var url = 'http://localhost:5000/image';
                //var url = 'http://web:8000/image';
                //var url = 'https://51.77.194.68:81/image';
                //var url = 'https://www.ecovision.ovh:81/image';
                console.log(" ... url:" + url)
                xhr.open("POST", url, true);

                // function execute after request is successful 
                xhr.onreadystatechange = function () {
                    if (this.readyState == 4) {
                        if(this.status == 202) {
                            console.log(" ... takepicture: response: ", this.responseText);
                        }
                        else if(this.status == 200){
                            console.log(" ... takepicture: response result image ");
                            document.getElementById('result_image').innerHTML = '<img src="data:image/png;base64,' + xhr.response + '"/>';
                        }
                    }
                }
                // Sending the info + image to the server for ecovision 
                //xhr.send();
                xhr.send(JSON.stringify({ 
                    //"email": "hello@user.com", 
                    //"response": { "name": "Tester" },
                    "image": data,
                    //"name": document.getElementById("nameId").innerHTML
                    "nameId": document.getElementById("nameId").value,
                    "usedUrl": url
                 }));

                 //alert(document.getElementById('myVariable').value)

                 ///////////////////////////////////////////////////where to add this
                 ///////////////////////////////////////////////////Feature-Policy: camera 'self'

                //$.ajax({
                //    type: "POST",
                //    contentType: zxfalse,
                //    cache: false,
                 //   processData: false,
                 //   async: false,
                 //   url: "/upload",
                 //   data: { 
                 //       imgBase64: data
                 //   }
                 //   });

                 setTimeout(takepicture, 1000);
                 // setTimeout(takepicture, 5000);

            } else {
                clearphoto();
            }
        }

        window.addEventListener('load', startup, false);



    })();


    </script>
</body>

</html>
